In [4]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('fer_no_nf.csv').iloc[:,1:]

In [10]:
df.head()

,usage,neutral,happiness,surprise,sadness,anger,disgust,fear,contempt,unknown
0,train,0.4,0.0,0.0,0.1,0.3,0.2,0.0,0.0,0.0
1,train,0.6,0.0,0.1,0.1,0.0,0.0,0.0,0.0,0.2
2,train,0.5,0.0,0.0,0.3,0.1,0.0,0.0,0.0,0.1
3,train,0.4,0.0,0.0,0.4,0.1,0.0,0.0,0.0,0.1
4,train,0.9,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0

In [12]:
df.iloc[:,1:].sum()  # class distribution over entire dataset

neutral      10696.2
happiness     9121.3
surprise      4131.6
sadness       4719.4
anger         2833.1
disgust        537.9
fear          1209.4
contempt       604.1
unknown       1684.9
dtype: float64

In [20]:
class_distribution_by_subset = df.groupby('usage').sum()  # distribution per subset

In [27]:
class_distribution_by_subset.div(df.groupby('usage').size(),axis=0)*100  # percentage class distribution per subset

,neutral,happiness,surprise,sadness,anger,disgust,fear,contempt,unknown
usage,,,,,,,,,
test,29.408587,25.544498,11.418823,13.022462,8.231447,1.495593,3.781632,1.524026,5.572931
train,29.952552,25.776395,11.589695,13.483411,7.885562,1.489175,3.375158,1.698650,4.749051
val,31.936117,24.908938,12.118240,11.910899,8.405716,1.725974,3.253012,1.882880,3.858224

In [31]:
train_df = df[df['usage']=='train'].iloc[:,1:]

In [32]:
train_df

,neutral,happiness,surprise,sadness,anger,disgust,fear,contempt,unknown
0,0.4,0.0,0.0,0.1,0.3,0.2,0.0,0.0,0.0
1,0.6,0.0,0.1,0.1,0.0,0.0,0.0,0.0,0.2
2,0.5,0.0,0.0,0.3,0.1,0.0,0.0,0.0,0.1
3,0.4,0.0,0.0,0.4,0.1,0.0,0.0,0.0,0.1
4,0.9,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
28447,0.0,0.0,0.1,0.0,0.0,0.0,0.9,0.0,0.0
28448,0.0,0.0,0.1,0.0,0.9,0.0,0.0,0.0,0.0
28449,0.0,0.0,0.1,0.9,0.0,0.0,0.0,0.0,0.0
28450,0.5,0.0,0.0,0.1,0.0,0.1,0.0,0.0,0.3
28451,0.7,0.0,0.0,0.1,0.1,0.0,0.0,0.0,0.1

In [33]:
train_df.sum().div()

neutral      8522.1
happiness    7333.9
surprise     3297.5
sadness      3836.3
anger        2243.6
disgust       423.7
fear          960.3
contempt      483.3
unknown      1351.2
dtype: float64

In [41]:
train_df.sum().div(train_df.shape[0])

neutral      0.299526
happiness    0.257764
surprise     0.115897
sadness      0.134834
anger        0.078856
disgust      0.014892
fear         0.033752
contempt     0.016987
unknown      0.047491
dtype: float64

In [43]:
class_weights = 1/train_df.sum().div(train_df.shape[0])

In [45]:
class_weights = class_weights.to_numpy()

In [46]:
class_weights

array([ 3.33861372,  3.8795184 ,  8.62835481,  7.41652113, 12.68140489,
       67.15128629, 29.62824117, 58.87026691, 21.05683837])

In [48]:
np.save('class_weights.npy', class_weights)